<nav class="pb-10">
    <h1 class="text-3xl font-bold">Filmes em cartaz</h1>
</nav>

<ul>
    {{ collection:filmes }}

    <div class="relative flex flex-row bg-blue-200 items-center pt-5 px-5">
        <a href="{{ url }}">
            <h3 class="text-2xl font-bold">{{ title }}</h3>

            <img src="{{ poster }}" alt="" width="128px" height="128px">

            <h4 class="absolute top-14 left-5 bg-yellow-100 text-black">Estreia em: {{ lancamento | format:Y }}</h4>
        </a>
        <div class="flex flex-col px-5">
            <div class="text-lg pl-5">{{ content }}</div>
            <div class="flex flex-row">
            {{ categorias}}
            <a href="{{ url }}" class="bg-red-600 font-bold text-white block mt-4 w-28 text-center  shadow-md ml-5 shadow-zinc-900 rounded">{{ title }}</a>
            {{ /categorias}}
            </div>
        </div>
    </div>
    </li>
    {{ /collection:filmes }}
</ul>
